img{
	margin: auto;
}
#contato-section{
	.row{
		&.row-titulo-contato{
			margin-top: -100px;
			h2{
				font-size: 2em;
				font-weight: bold;
				margin-bottom: 30px;
			}
			p{
				margin-bottom: 10px;
			}
		}
	}
}
#form-contato-section{
	form{
		legend{
			font-size: 1em;
			font-weight: normal;
			color: $cor-principal;
			border: 0;
		}
		button{
			margin: auto;
		}
		.form-control,.wpcf7-form-control{
 			width: 100%;
			&:focus{
				border-color: initial;
				box-shadow: none;
			}
		}
	}
}


/* LG */
@media only screen and (min-width : 1200px) {	
	.img-contato{
		width: 40%;
	}
	.img-end-contato{
		width: 50px;
	}

}

/* MD */
@media only screen and (max-width : 1199px) and (min-width : 992px) {
	.img-contato{
		width: 50%;
	}
	.img-end-contato{
		width: 50px;
	}

}

/* SM */
@media only screen and (max-width : 991px) and (min-width : 768px) {
	.img-contato{
		width: 60%;
	}
	.img-end-contato{
		width: 50px;
	}

}

/* XS */
@media only screen and (max-width : 767px) {
	.img-contato, .img-end-contato{
		display: none;				
	}
	#contato-section{
		.row{
			&.row-titulo-contato{
				margin-top: 0; 
			}
		}
	}
}
@media only screen and (min-width : 480px) {

}

/* XXS*/ 
@media only screen and (max-width : 479px) {

}
@media only screen and (min-width : 320px) {
    
}
/* XXXS */
@media only screen and (max-width : 319px) {
    
}