@font-face {
        font-family: 'dincond';
        font-style: normal;
        font-weight: normal;
        src: url('../fonts/dincond-regular-webfont.woff') format('woff'),
        	url('../fonts/dincond-regular-webfont.woff2') format('woff2'),
        ;
	}

@font-face {
    font-family: 'dincond';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/dincond-bold-webfont.woff') format('woff'),
    	url('../fonts/dincond-bold-webfont.woff2') format('woff2'),
    ;
}

body{
	font-size: 16px;
	font-family: 'dincond', 'Andale Mono', sans-serif;
	color: $cor-principal;

	/* Let's get this party started */
	::-webkit-scrollbar {
	    width: 2px;
	    -webkit-appearance: none;
	}
	 
	/* Track */
	::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0); 
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	    background: rgba(0,0,0,0.3); 
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
	}
	::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(0,0,0,0.0); 
	}
	h1, .h1{
		font-size: 2.7em;
		font-weight: bold;
	}
	h2, .h2{
		font-size: 2.5em;
	}
	h3, .h3{
		font-size: 2.3em;
	}
	h4, .h4{
		font-size: 2.1em;
	}
	h5, .h5{
		font-size: 1.9em;
	}
	h6, .h6{
		font-size: 1.5em;
	}
	section{
		margin-bottom: 30px;
	}
	a{
		color: $cor-principal;
    	transition: .25s ease-in-out;
    	*{
    		transition: .25s ease-in-out;
    	}
		&:hover{
			color: $cor-principal; 
		}
	}
	input, input.form-control, textarea, textarea.form-control{
		border-radius: 0;
		box-shadow: none;
		border: 0;
		border-bottom: 1px solid $cor-principal;
	}
	textarea{
		resize: vertical;
	}
	.form-control{
		background-color: transparent;
	}
	@media screen and (max-width: 767px){
		.col-xs-offset-inverse-12 {
	  		margin-left: -100%;
		}
		.col-xs-offset-inverse-11 {
	  		margin-left: -91.66666667%;
		}
		.col-xs-offset-inverse-10 {
	  		margin-left: -83.33333333%;
		}
		.col-xs-offset-inverse-9 {
	  		margin-left: -75%;
		}
		.col-xs-offset-inverse-8 {
	  		margin-left: -66.66666667%;
		}
		.col-xs-offset-inverse-7 {
	  		margin-left: -58.33333333%;
		}
		.col-xs-offset-inverse-6 {
	  		margin-left: -50%;
		}
		.col-xs-offset-inverse-5 {
	  		margin-left: -41.66666667%;
		}
		.col-xs-offset-inverse-4 {
	  		margin-left: -33.33333333%;
		}
		.col-xs-offset-inverse-3 {
	  		margin-left: -25%;
		}
		.col-xs-offset-inverse-2 {
	  		margin-left: -16.66666667%;
		}
		.col-xs-offset-inverse-1 {
	  		margin-left: -8.33333333%;
		}
	}
	@media only screen and (min-width : 768px) {
		.col-sm-offset-inverse-12 {
  			margin-left: -100%;
  		}
		.col-sm-offset-inverse-11 {
  			margin-left: -91.66666667%;
  		}
		.col-sm-offset-inverse-10 {
  			margin-left: -83.33333333%;
  		}
		.col-sm-offset-inverse-9 {
  			margin-left: -75%;
  		}
		.col-sm-offset-inverse-8 {
  			margin-left: -66.66666667%;
  		}
		.col-sm-offset-inverse-7 {
  			margin-left: -58.33333333%;
  		}
		.col-sm-offset-inverse-6 {
  			margin-left: -50%;
  		}
		.col-sm-offset-inverse-5 {
  			margin-left: -41.66666667%;
  		}
		.col-sm-offset-inverse-4 {
  			margin-left: -33.33333333%;
  		}
		.col-sm-offset-inverse-3 {
  			margin-left: -25%;
  		}
		.col-sm-offset-inverse-2 {
  			margin-left: -16.66666667%;
  		}
		.col-sm-offset-inverse-1 {
  			margin-left: -8.33333333%;
  		}
	}
	@media only screen and (min-width : 992px) {
		.col-md-offset-inverse-12 {
	  		margin-left: -100%;
	  	}
		.col-md-offset-inverse-11 {
	  		margin-left: -91.66666667%;
	  	}
		.col-md-offset-inverse-10 {
	  		margin-left: -83.33333333%;
	  	}
		.col-md-offset-inverse-9 {
	  		margin-left: -75%;
	  	}
		.col-md-offset-inverse-8 {
	  		margin-left: -66.66666667%;
	  	}
		.col-md-offset-inverse-7 {
	  		margin-left: -58.33333333%;
	  	}
		.col-md-offset-inverse-6 {
	  		margin-left: -50%;
	  	}
		.col-md-offset-inverse-5 {
	  		margin-left: -41.66666667%;
	  	}
		.col-md-offset-inverse-4 {
	  		margin-left: -33.33333333%;
	  	}
		.col-md-offset-inverse-3 {
	  		margin-left: -25%;
	  	}
		.col-md-offset-inverse-2 {
	  		margin-left: -16.66666667%;
	  	}
		.col-md-offset-inverse-1 {
	  		margin-left: -8.33333333%;
	  	}
	}
	@media screen and (min-width: 1200px){
		.col-lg-offset-inverse-12 {
	  		margin-left: -100%;
		}
		.col-lg-offset-inverse-11 {
	  		margin-left: -91.66666667%;
		}
		.col-lg-offset-inverse-10 {
	  		margin-left: -83.33333333%;
		}
		.col-lg-offset-inverse-9 {
	  		margin-left: -75%;
	  	}
		.col-lg-offset-inverse-8 {
			margin-left: -66.66666667%;
		}
		.col-lg-offset-inverse-7 {
	  		margin-left: -58.33333333%;
		}
		.col-lg-offset-inverse-6 {
	  		margin-left: -50%;
		}
		.col-lg-offset-inverse-5 {
	  		margin-left: -41.66666667%;
		}
		.col-lg-offset-inverse-4 {
	  		margin-left: -33.33333333%;
		}
		.col-lg-offset-inverse-3 {
	  		margin-left: -25%;
		}
		.col-lg-offset-inverse-2 {
	  		margin-left: -16.66666667%;
		}
		.col-lg-offset-inverse-1 {
	  		margin-left: -8.33333333%;
		}
	}
	@media screen and (max-width: 767px){
		.col-xs-right-offset-inverse-12 {
	  		margin-right: -100%;
		}
		.col-xs-right-offset-inverse-11 {
	  		margin-right: -91.66666667%;
		}
		.col-xs-right-offset-inverse-10 {
	  		margin-right: -83.33333333%;
		}
		.col-xs-right-offset-inverse-9 {
	  		margin-right: -75%;
		}
		.col-xs-right-offset-inverse-8 {
	  		margin-right: -66.66666667%;
		}
		.col-xs-right-offset-inverse-7 {
	  		margin-right: -58.33333333%;
		}
		.col-xs-right-offset-inverse-6 {
	  		margin-right: -50%;
		}
		.col-xs-right-offset-inverse-5 {
	  		margin-right: -41.66666667%;
		}
		.col-xs-right-offset-inverse-4 {
	  		margin-right: -33.33333333%;
		}
		.col-xs-right-offset-inverse-3 {
	  		margin-right: -25%;
		}
		.col-xs-right-offset-inverse-2 {
	  		margin-right: -16.66666667%;
		}
		.col-xs-right-offset-inverse-1 {
	  		margin-right: -8.33333333%;
		}
	}
	@media only screen and (min-width : 768px) {
		.col-sm-right-offset-inverse-12 {
  			margin-right: -100%;
  		}
		.col-sm-right-offset-inverse-11 {
  			margin-right: -91.66666667%;
  		}
		.col-sm-right-offset-inverse-10 {
  			margin-right: -83.33333333%;
  		}
		.col-sm-right-offset-inverse-9 {
  			margin-right: -75%;
  		}
		.col-sm-right-offset-inverse-8 {
  			margin-right: -66.66666667%;
  		}
		.col-sm-right-offset-inverse-7 {
  			margin-right: -58.33333333%;
  		}
		.col-sm-right-offset-inverse-6 {
  			margin-right: -50%;
  		}
		.col-sm-right-offset-inverse-5 {
  			margin-right: -41.66666667%;
  		}
		.col-sm-right-offset-inverse-4 {
  			margin-right: -33.33333333%;
  		}
		.col-sm-right-offset-inverse-3 {
  			margin-right: -25%;
  		}
		.col-sm-right-offset-inverse-2 {
  			margin-right: -16.66666667%;
  		}
		.col-sm-right-offset-inverse-1 {
  			margin-right: -8.33333333%;
  		}
	}
	@media only screen and (min-width : 992px) {
		.col-md-right-offset-inverse-12 {
	  		margin-right: -100%;
	  	}
		.col-md-right-offset-inverse-11 {
	  		margin-right: -91.66666667%;
	  	}
		.col-md-right-offset-inverse-10 {
	  		margin-right: -83.33333333%;
	  	}
		.col-md-right-offset-inverse-9 {
	  		margin-right: -75%;
	  	}
		.col-md-right-offset-inverse-8 {
	  		margin-right: -66.66666667%;
	  	}
		.col-md-right-offset-inverse-7 {
	  		margin-right: -58.33333333%;
	  	}
		.col-md-right-offset-inverse-6 {
	  		margin-right: -50%;
	  	}
		.col-md-right-offset-inverse-5 {
	  		margin-right: -41.66666667%;
	  	}
		.col-md-right-offset-inverse-4 {
	  		margin-right: -33.33333333%;
	  	}
		.col-md-right-offset-inverse-3 {
	  		margin-right: -25%;
	  	}
		.col-md-right-offset-inverse-2 {
	  		margin-right: -16.66666667%;
	  	}
		.col-md-right-offset-inverse-1 {
	  		margin-right: -8.33333333%;
	  	}
	}
	@media screen and (min-width: 1200px){
		.col-lg-right-offset-inverse-12 {
	  		margin-right: -100%;
		}
		.col-lg-right-offset-inverse-11 {
	  		margin-right: -91.66666667%;
		}
		.col-lg-right-offset-inverse-10 {
	  		margin-right: -83.33333333%;
		}
		.col-lg-right-offset-inverse-9 {
	  		margin-right: -75%;
	  	}
		.col-lg-right-offset-inverse-8 {
			margin-right: -66.66666667%;
		}
		.col-lg-right-offset-inverse-7 {
	  		margin-right: -58.33333333%;
		}
		.col-lg-right-offset-inverse-6 {
	  		margin-right: -50%;
		}
		.col-lg-right-offset-inverse-5 {
	  		margin-right: -41.66666667%;
		}
		.col-lg-right-offset-inverse-4 {
	  		margin-right: -33.33333333%;
		}
		.col-lg-right-offset-inverse-3 {
	  		margin-right: -25%;
		}
		.col-lg-right-offset-inverse-2 {
	  		margin-right: -16.66666667%;
		}
		.col-lg-right-offset-inverse-1 {
	  		margin-right: -8.33333333%;
		}
	}

	.no-padding{
		padding: 0;
	}


	.come-back-12 {
		left: -100%;
	}
	.come-back-11 {
		left: -91.66666667%;
	}
	.come-back-10 {
		left: -83.33333333%;
	}
	.come-back-9 {
		left: -75%;
	}
	.come-back-8 {
		left: -66.66666667%;
	}
	.come-back-7 {
		left: -58.33333333%;
	}
	.come-back-6 {
		left: -50%;
	}
	.come-back-5 {
		left: -41.66666667%;
	}
	.come-back-4 {
		left: -33.33333333%;
	}
	.come-back-3 {
		left: -25%;
	}
	.come-back-2 {
		left: -16.66666667%;
	}
	.come-back-1 {
		left: -8.33333333%;
	}

	.send-front{
		z-index: 1;
	}

	.row-sm-down{
		@media only screen and (max-width : 991px){
			margin-right: 30%;
		}

	}

	.texto-cor-principal{
		color: $cor-principal;
	}
	.texto-cor-secundaria{
		color: $cor-secundaria;
	}
	.texto-maiusculo{
		text-transform: uppercase;
	}
	.texto-minusculo{
		text-transform: lowercase;
	}
	.titulo-section{
		font-size: 0.71em;
		font-weight: bold;
		@media only screen and (min-width : 992px){
		    border-top: 1px solid #000;
			margin-top: 5px;
			padding: 5px 0 0;
		}
		@media only screen and (max-width : 991px){
		    border-bottom: 1px solid #000;
			padding: 0 0 5px;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			display: block;
		}
	}
	.titulo-section-destaque{
		margin-top: 50px;
	}
	.subtitulo{
		margin-bottom: 20px !important;
	}
	.conteudo-subtitulo{
		margin-right: 15px !important;
	}
	.big-text{
		font-size: 1.6em;
	}
	.medium-text{
		font-size: 1.2em;		
	}
	.paragrafo-descricao{
		text-align: justify;
		font-size: 1.2em;
		a{
			text-decoration: underline;

		}
		@media only screen and (min-width : 992px){
			padding: 0 15px;
		}
		@media only screen and (max-width : 991px){
			padding: 0;
		}
	}
	.paragrafo-descricao-secundario{
		text-align: justify;
		font-size: 1.2em;
		a{
			text-decoration: underline;

		}
		@media only screen and (min-width : 992px){
			padding: 0 15px;
		}
		@media only screen and (max-width : 991px){
			padding: 0;
		}
	}
	.btn-principal{
		border: 1px solid $cor-principal;
		color: $cor-principal;
		text-align: center;
		background: $cor-background;
		&:hover{
			text-decoration: underline;
		}
	}
	.btn-secundario{
		border: 1px solid $cor-secundaria;
		color: $cor-secundaria;
		text-align: center;
		background: $cor-background;
		&:hover{
			text-decoration: underline;
		}
	}

	.btn-action{
		display: block;
		font-weight: bold;
		&:hover{
			text-decoration: underline;
		}
	}

	.cta-margin-top{
		margin-top: 20px;
	}

	.cta-container{
		@media only screen and (min-width : 992px){
			padding: 0 15px;
		}
		@media only screen and (max-width : 991px){		
			padding: 0 30px 0 0;
		}
	}


	.content-wrapper{	
		overflow-y: auto;
		overflow-x: hidden;
		box-sizing: border-box;
		.container{			
			width: 85% !important;
			.left-content{
				margin-top: 30px;
				float: left;
				width: 100%;
				display: block;
				position: relative;
			}
			.right-content{
				margin-top: 30px;
				float: right;
				position: relative;
			}
			.inline-div{
				display: inline-block;
			}
		}
	}
}