/* LG */
@media only screen and (min-width : 1200px) {

}

/* MD */
@media only screen and (max-width : 1199px) and (min-width : 992px) {

}

/* SM */
@media only screen and (max-width : 991px) and (min-width : 768px) {

}

/* XS */
@media only screen and (max-width : 767px) {

}
@media only screen and (min-width : 480px) {

}

/* XXS*/ 
@media only screen and (max-width : 479px) {

}
@media only screen and (min-width : 320px) {
    
}
/* XXXS */
@media only screen and (max-width : 319px) {
    
}