#sobre-section{	
	.img-deslocada{
		z-index: -1;
	}
}

#home-destaque{
	.row{
		margin-bottom: 30px;
	}
	.destaque-home-link{
		background: rgba(255,255,255,0.7);
		&:hover{
			img{
				opacity: 0.5;
			}
		}
	}
}

/* Responsivo */

/* LG */
@media only screen and (min-width : 1200px) {
	#sobre-section{
		.img-deslocada{
			margin-top: -150px;
		}
	}
}

/* MD */
@media only screen and (max-width : 1199px) and (min-width : 992px){	
	#sobre-section{
		.img-deslocada{
			margin-top: -150px;
		}
	}

}

/* SM */
@media only screen and (max-width : 991px) and (min-width : 768px){

}

/* XS */
@media only screen and (max-width : 767px) {

}
@media only screen and (min-width : 480px) {

}

/* XXS*/ 
@media only screen and (max-width : 479px) {

}
@media only screen and (min-width : 320px) {
    
}
/* XXXS */
@media only screen and (max-width : 319px) {
    
}

/* Fim Responsivo */