.nav-wrapper{
  position: fixed;    
  top: 15px;
  left: 15px;
  z-index: 99;
  padding: 29px;
  #nav-icon {
    width: 23px;
    height: 17px;
    position: relative;
    transform: rotate(0deg);
    transition: .3s ease-in-out;
    cursor: pointer;
    span{
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: $cor-principal;
      border-radius: 0;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .1s ease-in-out;
      &:first-child{
        top: 2px;
        transform-origin: left center;
      }
      &:nth-child(2){
        top: 7px;
        transform-origin: left center;
      }
      &:last-child{
        top: 12px;
        transform-origin: left center;
      }
    }
    &.open{
      span{
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $cor-principal;
        border-radius: 0;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .3s ease-in-out;
        &:first-child{
          transform: rotate(45deg);
          top: 1px;
          left: 5px; 
        }
        &:nth-child(2){
          width: 0%;
          opacity: 0;
        }
        &:last-child{
          transform: rotate(-45deg);
          top: 17px;
          left: 5px;
        }
      }
    }
    &:hover{
      &:not(.open){
        span{
          &:first-child{
            top: 1px;
            transform-origin: left center;
            transition: .1s ease-in-out;
          }
          &:last-child{
            top: 13px;
            transform-origin: left center;
            transition: .1s ease-in-out;
          }
        }
      }
    }
  }
}

#offcanvas{
  z-index: 10;
  background: rgba(255,255,255,0.9);
  height: 100%;
  position: fixed;
  top: 0;
  width: 180px;
  transition: .2s ease-in-out;
  padding: 90px 0 0 25px;
  overflow-y: auto;
  @media only screen and (max-width: 768px){
    width: 100%;
    padding-left: 0;
  }
  &.open{
    left: 0 !important;
  }
  .navmenu-nav{
    @media (min-width: 768px){
      height: 300px;      
    }
    li{
      @media (max-width: 767px){
        margin-bottom: 30px;
      }
      a{
        @media (max-width: 767px){
          text-align: center;
        }
        font-size: 1em;
        display: block;
        text-transform: uppercase;
        letter-spacing: 1px;
        &:hover{
          text-decoration: underline;
          background: transparent;
        }
      }
      &.menu-item-has-children{
          .sub-menu{
            display: block;
            position: relative;
            border: none;
            box-shadow: none;
            margin: 0;
            padding: 0;
            transition: all .5s ease-in-out;
            overflow-y: hidden;
            background: transparent;    
            @media (min-width: 992px){
              height: 0;              
            }
            @media (min-width: 768px){
              margin-right: 10px;
            }
            @media (max-width: 767px){
              display: none;
            }
            li{
              a{
                font-size: 0.75em;
                display: block;
                color: $cor-secundaria;

                @media (min-width: 768px){
                  text-align: right;
                }
                &:hover{
                  color: $cor-principal;
                  text-decoration: underline;
                  background: transparent;
                }
              }

            }
          }
        @media (min-width: 768px){
          &:hover{
            .sub-menu{
              height: 170px;              
            }
          }
        }
      }
    }
  }
  .list-i18n{
    text-align: center;
    @media (max-width: 767px){
      margin-bottom: 30px;
    }
    li{
      padding: 0 8px;
      a{
        font-size: 0.7em;
        font-weight: bold;
        &.btn-i18n{
          border: 1px solid transparent;
          padding: 4px;
          &:hover,&.active-i18n{
            border-color: $cor-principal;
          }
        }
      }
    }
    .middot{
      font-size: 0.7em;
      font-weight: bold;
      vertical-align: middle;
    }
  }

  .list-social{
      text-align: center;
      margin-top: 20px;
    .social-item{
        padding: 0 6px;
      .social-link{
        .social-svg{
          width: 15px;
          height: 15px;
           path{
            fill: $cor-secundaria;
          }
          &:hover{
            path{
              fill: $cor-principal;
            }
          }
        }
      }
    }
  }
}

.list-social{
  .social-item{
      padding: 0 8px;
    .social-link{
      .social-svg{
        width: 20px;
        height: 20px;
        path{
          fill: $cor-principal;
        }
      }
    }
  }
}

.site-wrapper{
  box-sizing: border-box;
  border: 2px solid $cor-principal;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.logo-wrapper{
  box-sizing: border-box;
  height: 75px;
  background: $cor-background;
  z-index: 3;
  padding: 15px 0 0;
  margin: 0 auto;
  position: fixed;
  top: 15px;
  left: 15px;
  a{      
    width: 50px;
    text-align: center;
    height: 50px;
    display: block;
    margin: auto;
    #logo{
      max-width: 45px;
    }
  }
}
.toggler-wrapper{
  width: 100%;
  text-align: right;
  @media (min-width: 768px){
    display: none;
  }
}

.btn_categ_toggler{
  background: none;
    border: none;
    width: 44px;
    height: 44px;
}
#Categ_collapse{
  background: transparent;
    width: 32px;
    height: auto;
    vertical-align: middle;
}
.categorias-portfolios-list{
  margin-top: 30px;
}
.categorias-portfolios-item{
  text-align: center !important;
}
.categorias-portfolios-link{
  display: inline-block !important;
  text-transform: uppercase;
  &:hover, &.categorias-portfolios-link-active{
    background-color: transparent !important;
    text-decoration: underline !important;    
  }
  &.categorias-portfolios-link-active{
    font-weight: bold;
  }

}
