#portifolios-thumbs{
	.row{
	  display: flex;
	  flex-wrap: wrap;
	}
}

.separator{
	width: 16.6667%;
    border-color: $cor-principal;
    min-width: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.portifolios-dados-container{
	position: relative;
	padding-bottom: 15px;
    padding-top: 15px;
	@media (max-width: 767px){
		padding: 10px;
	}
}

.portifolios-dados-wrapper{
	text-align: center;
	position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    opacity: 0;
}

.portifolios-list-name{
	list-style: none;
	padding: 0;
	margin: 0;
}	

.portifolios-link{
	position: relative;
	display: block;
	&:hover{
		text-decoration: none;
		.img-bg-portifolios{
			opacity: 0.3;
		}
		.portifolios-dados-wrapper{
			opacity: 1;
		}
	}
}