.portifolios-single-content{
	@media (min-width: 768px){
		column-count: 2;
		column-gap: 15px;
		column-rule: none;		
	}
}

.portifolios-single-titulo-info{
	color: $cor-texto-secundario;
	margin-bottom: 20px;
}
.portifolios-single-content-wrapper{
	background-color: $cor-background-secundario;
	padding: 20px 50px 30px;
	margin-bottom: 50px;
}
.portifolios-single-image{
	margin-bottom: 15px;
}