.row{
	margin-bottom: 20px;
	p{
		margin-bottom: 0;
	}
	.subtitulo{
		&:not(:first-of-type){
			margin-top: 50px;
		}
	}
}

#sobre-section{
	.row{
		div{
			.texto-sobre{
				margin-bottom: 20px;
			}
			&.perfil{
				position: relative;
				img{
					margin: auto;
				}
				blockquote{
					font-size: 1.5em;
					margin: 0;
					padding: 0;
					font-weight: bold;
					border: none;
				}
			}
		}		
	}
}
#curriculo-section{
	
}


/* LG */
@media only screen and (min-width : 1200px) {

}

/* MD */
@media only screen and (min-width : 992px) {
	#sobre-section{
		.row{
			div{
				&.perfil{
					blockquote{
						position: absolute;
						bottom: 0;
    					right: -10%;
					}
				}
			}		
		}
	}
}
@media only screen and (max-width : 1199px) and (min-width : 992px) {

}

/* SM */
@media only screen and (max-width : 991px) and (min-width : 768px) {

}

/* XS */
@media only screen and (max-width : 767px) {

}
@media only screen and (min-width : 480px) {

}

/* XXS*/ 
@media only screen and (max-width : 479px) {

}
@media only screen and (min-width : 320px) {
    
}
/* XXXS */
@media only screen and (max-width : 319px) {
    
}