@font-face {
  font-family: 'dincond';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/dincond-regular-webfont.woff") format("woff"), url("../fonts/dincond-regular-webfont.woff2") format("woff2"); }
@font-face {
  font-family: 'dincond';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/dincond-bold-webfont.woff") format("woff"), url("../fonts/dincond-bold-webfont.woff2") format("woff2"); }
body {
  font-size: 16px;
  font-family: 'dincond', 'Andale Mono', sans-serif;
  color: #000;
  /* Let's get this party started */
  /* Track */
  /* Handle */ }
  body ::-webkit-scrollbar {
    width: 2px;
    -webkit-appearance: none; }
  body ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    border-radius: 10px; }
  body ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); }
  body ::-webkit-scrollbar-thumb:window-inactive {
    background: transparent; }
  body h1, body .h1 {
    font-size: 2.7em;
    font-weight: bold; }
  body h2, body .h2 {
    font-size: 2.5em; }
  body h3, body .h3 {
    font-size: 2.3em; }
  body h4, body .h4 {
    font-size: 2.1em; }
  body h5, body .h5 {
    font-size: 1.9em; }
  body h6, body .h6 {
    font-size: 1.5em; }
  body section {
    margin-bottom: 30px; }
  body a {
    color: #000;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    body a * {
      -webkit-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
    body a:hover {
      color: #000; }
  body input, body input.form-control, body textarea, body textarea.form-control {
    border-radius: 0;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #000; }
  body textarea {
    resize: vertical; }
  body .form-control {
    background-color: transparent; }
  @media screen and (max-width: 767px) {
    body .col-xs-offset-inverse-12 {
      margin-left: -100%; }
    body .col-xs-offset-inverse-11 {
      margin-left: -91.66666667%; }
    body .col-xs-offset-inverse-10 {
      margin-left: -83.33333333%; }
    body .col-xs-offset-inverse-9 {
      margin-left: -75%; }
    body .col-xs-offset-inverse-8 {
      margin-left: -66.66666667%; }
    body .col-xs-offset-inverse-7 {
      margin-left: -58.33333333%; }
    body .col-xs-offset-inverse-6 {
      margin-left: -50%; }
    body .col-xs-offset-inverse-5 {
      margin-left: -41.66666667%; }
    body .col-xs-offset-inverse-4 {
      margin-left: -33.33333333%; }
    body .col-xs-offset-inverse-3 {
      margin-left: -25%; }
    body .col-xs-offset-inverse-2 {
      margin-left: -16.66666667%; }
    body .col-xs-offset-inverse-1 {
      margin-left: -8.33333333%; } }
  @media only screen and (min-width: 768px) {
    body .col-sm-offset-inverse-12 {
      margin-left: -100%; }
    body .col-sm-offset-inverse-11 {
      margin-left: -91.66666667%; }
    body .col-sm-offset-inverse-10 {
      margin-left: -83.33333333%; }
    body .col-sm-offset-inverse-9 {
      margin-left: -75%; }
    body .col-sm-offset-inverse-8 {
      margin-left: -66.66666667%; }
    body .col-sm-offset-inverse-7 {
      margin-left: -58.33333333%; }
    body .col-sm-offset-inverse-6 {
      margin-left: -50%; }
    body .col-sm-offset-inverse-5 {
      margin-left: -41.66666667%; }
    body .col-sm-offset-inverse-4 {
      margin-left: -33.33333333%; }
    body .col-sm-offset-inverse-3 {
      margin-left: -25%; }
    body .col-sm-offset-inverse-2 {
      margin-left: -16.66666667%; }
    body .col-sm-offset-inverse-1 {
      margin-left: -8.33333333%; } }
  @media only screen and (min-width: 992px) {
    body .col-md-offset-inverse-12 {
      margin-left: -100%; }
    body .col-md-offset-inverse-11 {
      margin-left: -91.66666667%; }
    body .col-md-offset-inverse-10 {
      margin-left: -83.33333333%; }
    body .col-md-offset-inverse-9 {
      margin-left: -75%; }
    body .col-md-offset-inverse-8 {
      margin-left: -66.66666667%; }
    body .col-md-offset-inverse-7 {
      margin-left: -58.33333333%; }
    body .col-md-offset-inverse-6 {
      margin-left: -50%; }
    body .col-md-offset-inverse-5 {
      margin-left: -41.66666667%; }
    body .col-md-offset-inverse-4 {
      margin-left: -33.33333333%; }
    body .col-md-offset-inverse-3 {
      margin-left: -25%; }
    body .col-md-offset-inverse-2 {
      margin-left: -16.66666667%; }
    body .col-md-offset-inverse-1 {
      margin-left: -8.33333333%; } }
  @media screen and (min-width: 1200px) {
    body .col-lg-offset-inverse-12 {
      margin-left: -100%; }
    body .col-lg-offset-inverse-11 {
      margin-left: -91.66666667%; }
    body .col-lg-offset-inverse-10 {
      margin-left: -83.33333333%; }
    body .col-lg-offset-inverse-9 {
      margin-left: -75%; }
    body .col-lg-offset-inverse-8 {
      margin-left: -66.66666667%; }
    body .col-lg-offset-inverse-7 {
      margin-left: -58.33333333%; }
    body .col-lg-offset-inverse-6 {
      margin-left: -50%; }
    body .col-lg-offset-inverse-5 {
      margin-left: -41.66666667%; }
    body .col-lg-offset-inverse-4 {
      margin-left: -33.33333333%; }
    body .col-lg-offset-inverse-3 {
      margin-left: -25%; }
    body .col-lg-offset-inverse-2 {
      margin-left: -16.66666667%; }
    body .col-lg-offset-inverse-1 {
      margin-left: -8.33333333%; } }
  @media screen and (max-width: 767px) {
    body .col-xs-right-offset-inverse-12 {
      margin-right: -100%; }
    body .col-xs-right-offset-inverse-11 {
      margin-right: -91.66666667%; }
    body .col-xs-right-offset-inverse-10 {
      margin-right: -83.33333333%; }
    body .col-xs-right-offset-inverse-9 {
      margin-right: -75%; }
    body .col-xs-right-offset-inverse-8 {
      margin-right: -66.66666667%; }
    body .col-xs-right-offset-inverse-7 {
      margin-right: -58.33333333%; }
    body .col-xs-right-offset-inverse-6 {
      margin-right: -50%; }
    body .col-xs-right-offset-inverse-5 {
      margin-right: -41.66666667%; }
    body .col-xs-right-offset-inverse-4 {
      margin-right: -33.33333333%; }
    body .col-xs-right-offset-inverse-3 {
      margin-right: -25%; }
    body .col-xs-right-offset-inverse-2 {
      margin-right: -16.66666667%; }
    body .col-xs-right-offset-inverse-1 {
      margin-right: -8.33333333%; } }
  @media only screen and (min-width: 768px) {
    body .col-sm-right-offset-inverse-12 {
      margin-right: -100%; }
    body .col-sm-right-offset-inverse-11 {
      margin-right: -91.66666667%; }
    body .col-sm-right-offset-inverse-10 {
      margin-right: -83.33333333%; }
    body .col-sm-right-offset-inverse-9 {
      margin-right: -75%; }
    body .col-sm-right-offset-inverse-8 {
      margin-right: -66.66666667%; }
    body .col-sm-right-offset-inverse-7 {
      margin-right: -58.33333333%; }
    body .col-sm-right-offset-inverse-6 {
      margin-right: -50%; }
    body .col-sm-right-offset-inverse-5 {
      margin-right: -41.66666667%; }
    body .col-sm-right-offset-inverse-4 {
      margin-right: -33.33333333%; }
    body .col-sm-right-offset-inverse-3 {
      margin-right: -25%; }
    body .col-sm-right-offset-inverse-2 {
      margin-right: -16.66666667%; }
    body .col-sm-right-offset-inverse-1 {
      margin-right: -8.33333333%; } }
  @media only screen and (min-width: 992px) {
    body .col-md-right-offset-inverse-12 {
      margin-right: -100%; }
    body .col-md-right-offset-inverse-11 {
      margin-right: -91.66666667%; }
    body .col-md-right-offset-inverse-10 {
      margin-right: -83.33333333%; }
    body .col-md-right-offset-inverse-9 {
      margin-right: -75%; }
    body .col-md-right-offset-inverse-8 {
      margin-right: -66.66666667%; }
    body .col-md-right-offset-inverse-7 {
      margin-right: -58.33333333%; }
    body .col-md-right-offset-inverse-6 {
      margin-right: -50%; }
    body .col-md-right-offset-inverse-5 {
      margin-right: -41.66666667%; }
    body .col-md-right-offset-inverse-4 {
      margin-right: -33.33333333%; }
    body .col-md-right-offset-inverse-3 {
      margin-right: -25%; }
    body .col-md-right-offset-inverse-2 {
      margin-right: -16.66666667%; }
    body .col-md-right-offset-inverse-1 {
      margin-right: -8.33333333%; } }
  @media screen and (min-width: 1200px) {
    body .col-lg-right-offset-inverse-12 {
      margin-right: -100%; }
    body .col-lg-right-offset-inverse-11 {
      margin-right: -91.66666667%; }
    body .col-lg-right-offset-inverse-10 {
      margin-right: -83.33333333%; }
    body .col-lg-right-offset-inverse-9 {
      margin-right: -75%; }
    body .col-lg-right-offset-inverse-8 {
      margin-right: -66.66666667%; }
    body .col-lg-right-offset-inverse-7 {
      margin-right: -58.33333333%; }
    body .col-lg-right-offset-inverse-6 {
      margin-right: -50%; }
    body .col-lg-right-offset-inverse-5 {
      margin-right: -41.66666667%; }
    body .col-lg-right-offset-inverse-4 {
      margin-right: -33.33333333%; }
    body .col-lg-right-offset-inverse-3 {
      margin-right: -25%; }
    body .col-lg-right-offset-inverse-2 {
      margin-right: -16.66666667%; }
    body .col-lg-right-offset-inverse-1 {
      margin-right: -8.33333333%; } }
  body .no-padding {
    padding: 0; }
  body .come-back-12 {
    left: -100%; }
  body .come-back-11 {
    left: -91.66666667%; }
  body .come-back-10 {
    left: -83.33333333%; }
  body .come-back-9 {
    left: -75%; }
  body .come-back-8 {
    left: -66.66666667%; }
  body .come-back-7 {
    left: -58.33333333%; }
  body .come-back-6 {
    left: -50%; }
  body .come-back-5 {
    left: -41.66666667%; }
  body .come-back-4 {
    left: -33.33333333%; }
  body .come-back-3 {
    left: -25%; }
  body .come-back-2 {
    left: -16.66666667%; }
  body .come-back-1 {
    left: -8.33333333%; }
  body .send-front {
    z-index: 1; }
  @media only screen and (max-width: 991px) {
    body .row-sm-down {
      margin-right: 30%; } }
  body .texto-cor-principal {
    color: #000; }
  body .texto-cor-secundaria {
    color: #808080; }
  body .texto-maiusculo {
    text-transform: uppercase; }
  body .texto-minusculo {
    text-transform: lowercase; }
  body .titulo-section {
    font-size: 0.71em;
    font-weight: bold; }
    @media only screen and (min-width: 992px) {
      body .titulo-section {
        border-top: 1px solid #000;
        margin-top: 5px;
        padding: 5px 0 0; } }
    @media only screen and (max-width: 991px) {
      body .titulo-section {
        border-bottom: 1px solid #000;
        padding: 0 0 5px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: block; } }
  body .titulo-section-destaque {
    margin-top: 50px; }
  body .subtitulo {
    margin-bottom: 20px !important; }
  body .conteudo-subtitulo {
    margin-right: 15px !important; }
  body .big-text {
    font-size: 1.6em; }
  body .medium-text {
    font-size: 1.2em; }
  body .paragrafo-descricao {
    text-align: justify;
    font-size: 1.2em; }
    body .paragrafo-descricao a {
      text-decoration: underline; }
    @media only screen and (min-width: 992px) {
      body .paragrafo-descricao {
        padding: 0 15px; } }
    @media only screen and (max-width: 991px) {
      body .paragrafo-descricao {
        padding: 0; } }
  body .paragrafo-descricao-secundario {
    text-align: justify;
    font-size: 1.2em; }
    body .paragrafo-descricao-secundario a {
      text-decoration: underline; }
    @media only screen and (min-width: 992px) {
      body .paragrafo-descricao-secundario {
        padding: 0 15px; } }
    @media only screen and (max-width: 991px) {
      body .paragrafo-descricao-secundario {
        padding: 0; } }
  body .btn-principal {
    border: 1px solid #000;
    color: #000;
    text-align: center;
    background: #FFF; }
    body .btn-principal:hover {
      text-decoration: underline; }
  body .btn-secundario {
    border: 1px solid #808080;
    color: #808080;
    text-align: center;
    background: #FFF; }
    body .btn-secundario:hover {
      text-decoration: underline; }
  body .btn-action {
    display: block;
    font-weight: bold; }
    body .btn-action:hover {
      text-decoration: underline; }
  body .cta-margin-top {
    margin-top: 20px; }
  @media only screen and (min-width: 992px) {
    body .cta-container {
      padding: 0 15px; } }
  @media only screen and (max-width: 991px) {
    body .cta-container {
      padding: 0 30px 0 0; } }
  body .content-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box; }
    body .content-wrapper .container {
      width: 85% !important; }
      body .content-wrapper .container .left-content {
        margin-top: 30px;
        float: left;
        width: 100%;
        display: block;
        position: relative; }
      body .content-wrapper .container .right-content {
        margin-top: 30px;
        float: right;
        position: relative; }
      body .content-wrapper .container .inline-div {
        display: inline-block; }

.nav-wrapper {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 99;
  padding: 29px; }
  .nav-wrapper #nav-icon {
    width: 23px;
    height: 17px;
    position: relative;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor: pointer; }
    .nav-wrapper #nav-icon span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #000;
      border-radius: 0;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transition: .1s ease-in-out;
      transition: .1s ease-in-out; }
      .nav-wrapper #nav-icon span:first-child {
        top: 2px;
        -webkit-transform-origin: left center;
                transform-origin: left center; }
      .nav-wrapper #nav-icon span:nth-child(2) {
        top: 7px;
        -webkit-transform-origin: left center;
                transform-origin: left center; }
      .nav-wrapper #nav-icon span:last-child {
        top: 12px;
        -webkit-transform-origin: left center;
                transform-origin: left center; }
    .nav-wrapper #nav-icon.open span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #000;
      border-radius: 0;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
      .nav-wrapper #nav-icon.open span:first-child {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 1px;
        left: 5px; }
      .nav-wrapper #nav-icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0; }
      .nav-wrapper #nav-icon.open span:last-child {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        top: 17px;
        left: 5px; }
    .nav-wrapper #nav-icon:hover:not(.open) span:first-child {
      top: 1px;
      -webkit-transform-origin: left center;
              transform-origin: left center;
      -webkit-transition: .1s ease-in-out;
      transition: .1s ease-in-out; }
    .nav-wrapper #nav-icon:hover:not(.open) span:last-child {
      top: 13px;
      -webkit-transform-origin: left center;
              transform-origin: left center;
      -webkit-transition: .1s ease-in-out;
      transition: .1s ease-in-out; }

#offcanvas {
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  height: 100%;
  position: fixed;
  top: 0;
  width: 180px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  padding: 90px 0 0 25px;
  overflow-y: auto; }
  @media only screen and (max-width: 768px) {
    #offcanvas {
      width: 100%;
      padding-left: 0; } }
  #offcanvas.open {
    left: 0 !important; }
  @media (min-width: 768px) {
    #offcanvas .navmenu-nav {
      height: 300px; } }
  @media (max-width: 767px) {
    #offcanvas .navmenu-nav li {
      margin-bottom: 30px; } }
  #offcanvas .navmenu-nav li a {
    font-size: 1em;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px; }
    @media (max-width: 767px) {
      #offcanvas .navmenu-nav li a {
        text-align: center; } }
    #offcanvas .navmenu-nav li a:hover {
      text-decoration: underline;
      background: transparent; }
  #offcanvas .navmenu-nav li.menu-item-has-children .sub-menu {
    display: block;
    position: relative;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    overflow-y: hidden;
    background: transparent; }
    @media (min-width: 992px) {
      #offcanvas .navmenu-nav li.menu-item-has-children .sub-menu {
        height: 0; } }
    @media (min-width: 768px) {
      #offcanvas .navmenu-nav li.menu-item-has-children .sub-menu {
        margin-right: 10px; } }
    @media (max-width: 767px) {
      #offcanvas .navmenu-nav li.menu-item-has-children .sub-menu {
        display: none; } }
    #offcanvas .navmenu-nav li.menu-item-has-children .sub-menu li a {
      font-size: 0.75em;
      display: block;
      color: #808080; }
      @media (min-width: 768px) {
        #offcanvas .navmenu-nav li.menu-item-has-children .sub-menu li a {
          text-align: right; } }
      #offcanvas .navmenu-nav li.menu-item-has-children .sub-menu li a:hover {
        color: #000;
        text-decoration: underline;
        background: transparent; }
  @media (min-width: 768px) {
    #offcanvas .navmenu-nav li.menu-item-has-children:hover .sub-menu {
      height: 170px; } }
  #offcanvas .list-i18n {
    text-align: center; }
    @media (max-width: 767px) {
      #offcanvas .list-i18n {
        margin-bottom: 30px; } }
    #offcanvas .list-i18n li {
      padding: 0 8px; }
      #offcanvas .list-i18n li a {
        font-size: 0.7em;
        font-weight: bold; }
        #offcanvas .list-i18n li a.btn-i18n {
          border: 1px solid transparent;
          padding: 4px; }
          #offcanvas .list-i18n li a.btn-i18n:hover, #offcanvas .list-i18n li a.btn-i18n.active-i18n {
            border-color: #000; }
    #offcanvas .list-i18n .middot {
      font-size: 0.7em;
      font-weight: bold;
      vertical-align: middle; }
  #offcanvas .list-social {
    text-align: center;
    margin-top: 20px; }
    #offcanvas .list-social .social-item {
      padding: 0 6px; }
      #offcanvas .list-social .social-item .social-link .social-svg {
        width: 15px;
        height: 15px; }
        #offcanvas .list-social .social-item .social-link .social-svg path {
          fill: #808080; }
        #offcanvas .list-social .social-item .social-link .social-svg:hover path {
          fill: #000; }

.list-social .social-item {
  padding: 0 8px; }
  .list-social .social-item .social-link .social-svg {
    width: 20px;
    height: 20px; }
    .list-social .social-item .social-link .social-svg path {
      fill: #000; }

.site-wrapper {
  box-sizing: border-box;
  border: 2px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }

.logo-wrapper {
  box-sizing: border-box;
  height: 75px;
  background: #FFF;
  z-index: 3;
  padding: 15px 0 0;
  margin: 0 auto;
  position: fixed;
  top: 15px;
  left: 15px; }
  .logo-wrapper a {
    width: 50px;
    text-align: center;
    height: 50px;
    display: block;
    margin: auto; }
    .logo-wrapper a #logo {
      max-width: 45px; }

.toggler-wrapper {
  width: 100%;
  text-align: right; }
  @media (min-width: 768px) {
    .toggler-wrapper {
      display: none; } }

.btn_categ_toggler {
  background: none;
  border: none;
  width: 44px;
  height: 44px; }

#Categ_collapse {
  background: transparent;
  width: 32px;
  height: auto;
  vertical-align: middle; }

.categorias-portfolios-list {
  margin-top: 30px; }

.categorias-portfolios-item {
  text-align: center !important; }

.categorias-portfolios-link {
  display: inline-block !important;
  text-transform: uppercase; }
  .categorias-portfolios-link:hover, .categorias-portfolios-link.categorias-portfolios-link-active {
    background-color: transparent !important;
    text-decoration: underline !important; }
  .categorias-portfolios-link.categorias-portfolios-link-active {
    font-weight: bold; }

#sobre-section .img-deslocada {
  z-index: -1; }

#home-destaque .row {
  margin-bottom: 30px; }
#home-destaque .destaque-home-link {
  background: rgba(255, 255, 255, 0.7); }
  #home-destaque .destaque-home-link:hover img {
    opacity: 0.5; }

/* Responsivo */
/* LG */
@media only screen and (min-width: 1200px) {
  #sobre-section .img-deslocada {
    margin-top: -150px; } }
/* MD */
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  #sobre-section .img-deslocada {
    margin-top: -150px; } }
/* SM */
/* XS */
/* XXS*/
/* XXXS */
/* Fim Responsivo */
.row {
  margin-bottom: 20px; }
  .row p {
    margin-bottom: 0; }
  .row .subtitulo:not(:first-of-type) {
    margin-top: 50px; }

#sobre-section .row div .texto-sobre {
  margin-bottom: 20px; }
#sobre-section .row div.perfil {
  position: relative; }
  #sobre-section .row div.perfil img {
    margin: auto; }
  #sobre-section .row div.perfil blockquote {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    font-weight: bold;
    border: none; }

/* LG */
/* MD */
@media only screen and (min-width: 992px) {
  #sobre-section .row div.perfil blockquote {
    position: absolute;
    bottom: 0;
    right: -10%; } }
/* SM */
/* XS */
/* XXS*/
/* XXXS */
img {
  margin: auto; }

#contato-section .row.row-titulo-contato {
  margin-top: -100px; }
  #contato-section .row.row-titulo-contato h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px; }
  #contato-section .row.row-titulo-contato p {
    margin-bottom: 10px; }

#form-contato-section form legend {
  font-size: 1em;
  font-weight: normal;
  color: #000;
  border: 0; }
#form-contato-section form button {
  margin: auto; }
#form-contato-section form .form-control, #form-contato-section form .wpcf7-form-control {
  width: 100%; }
  #form-contato-section form .form-control:focus, #form-contato-section form .wpcf7-form-control:focus {
    border-color: initial;
    box-shadow: none; }

/* LG */
@media only screen and (min-width: 1200px) {
  .img-contato {
    width: 40%; }

  .img-end-contato {
    width: 50px; } }
/* MD */
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .img-contato {
    width: 50%; }

  .img-end-contato {
    width: 50px; } }
/* SM */
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .img-contato {
    width: 60%; }

  .img-end-contato {
    width: 50px; } }
/* XS */
@media only screen and (max-width: 767px) {
  .img-contato, .img-end-contato {
    display: none; }

  #contato-section .row.row-titulo-contato {
    margin-top: 0; } }
/* XXS*/
/* XXXS */
#portifolios-thumbs .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.separator {
  width: 16.6667%;
  border-color: #000;
  min-width: 100px;
  margin-top: 40px;
  margin-bottom: 40px; }

.portifolios-dados-container {
  position: relative;
  padding-bottom: 15px;
  padding-top: 15px; }
  @media (max-width: 767px) {
    .portifolios-dados-container {
      padding: 10px; } }

.portifolios-dados-wrapper {
  text-align: center;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0; }

.portifolios-list-name {
  list-style: none;
  padding: 0;
  margin: 0; }

.portifolios-link {
  position: relative;
  display: block; }
  .portifolios-link:hover {
    text-decoration: none; }
    .portifolios-link:hover .img-bg-portifolios {
      opacity: 0.3; }
    .portifolios-link:hover .portifolios-dados-wrapper {
      opacity: 1; }

@media (min-width: 768px) {
  .portifolios-single-content {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    -webkit-column-rule: none;
       -moz-column-rule: none;
            column-rule: none; } }

.portifolios-single-titulo-info {
  color: #b4b4b4;
  margin-bottom: 20px; }

.portifolios-single-content-wrapper {
  background-color: #fafafa;
  padding: 20px 50px 30px;
  margin-bottom: 50px; }

.portifolios-single-image {
  margin-bottom: 15px; }
